
h1, h2, h3, h4, h5, h6 {
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  text-transform: none;
}

a.article-terms-link {
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  text-transform: none;
  font-size: 1.5em;
  letter-spacing: 0;
  padding: 0.2em 0.4em;
  margin:-2.5em 0 0 0;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  color: #333;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

a.article-terms-link:hover {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: #fff !important;
}

.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  padding: 0.4em;
  color: #494949;
  background: #f8fbff;
  border-left: solid 5px #00319c;
  letter-spacing: 0;
}

.pagination {
    p pass{
      margin: -1em 0 0 0;
    }
}

#categories ul {
    font-family: raleway,Helvetica,sans-serif;
    font-size: 1.0em;
    letter-spacing: .25em;
    line-height: 1.65;
    text-transform: uppercase;
    list-style: none;
	padding-right: 10px;
	}

#categories a {
    display: block;
    padding: 0.3em;
}

#categorie ul {
    font-family: raleway,Helvetica,sans-serif;
    font-size: 1.0em;
    letter-spacing: .25em;
    line-height: 1.65;
    text-transform: uppercase;
    list-style: none;
	padding-right: 30px;
	}

#categorie a {
    display: block;
    padding: 0.3em;
}



.stats li {
    padding-top: 0.4em;
}

.copyright {
    font-size: .7em;
}
.mini-post header h2 {
    font-size: .8em;
}
.mini-post header time {
    font-size: .7em;
}
.meta {
    font-size: .7em;
}
#site-intro main p {
    font-size: .8em;
}
.nav-title a {
    font-size: .6em;
}
.nav {
    font-size: .8em;
}
.button {
    font-size: .7em;
}
.fa, .fas, .far, .fal, .fad, .fab {
    font-size: 1.2em;
}
#socnet-share a {
    font-size: 1.3em;
}
#share-menu.flyout-menu .share-btn {
    font-size: 1.5em;
}

