/* フォント変更、英文字をすべて大文字なし */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  text-transform: none;
}

/* カテゴリタグ デザイン変更 */
a.article-category-link {
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  text-transform: none;
  letter-spacing: 0;
  padding: 0.3em;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  color: #333;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

/* カテゴリタグ デザイン変更（ホバー） */
a.article-category-link:hover {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: #fff !important;
}

/* 記事内の見出しタグのデザイン変更 */
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
  padding: 0.4em;
  color: #494949;
  background: #f8fbff;
  border-left: solid 5px #00319c;
  letter-spacing: 0;
}


.pagination {
    p pass{
      margin: -1em 0 0 0;
    }
}






